@mixin header-item {
  margin: .5em;
  color: #757575;
  height: 40px;
  cursor: pointer;
  font-weight: 600;
  &:hover {
    background-color: #EFEFEF;
  }
}
@mixin b($color: red, $weight: 1px) {
  border: $weight solid $color;
}
@import '../../styles-assets/mixins';
@import '../../styles-assets/variables';
.wall-page-container {
  // border: 3px dashed blue;
  display: grid;
  // grid-template-columns: repeat(11, 1fr);
  // grid-auto-rows: auto;
  // height: 100%;
  padding-top: 2.5em;
  .wall {
    // margin-top: 1em;
    width: 90%;
    margin: auto;
    // border: 3px dashed red;
    display: grid;
    grid-gap: .5em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    .img-container {
      // grid-row: span 1;
      // grid-column: span 1;
      position: relative;
      border-radius: 10px;
      .img-overlay {
        z-index: 2;
        position: absolute;
        border-radius: 10px;
        height: 92%;
        width: 94%;
        margin: 3% 3% 5% 3%;
        .action-button {
          display: none;
        }
        .userProfileImgWrapper {
          display: none;
        }
        .share-button {
          display: none;
        }
      }
      .img-overlay.on {
        background-color: rgba(255,255,255,.3);
        &:hover {
          cursor: -moz-zoom-in;
          cursor:-webkit-zoom-in;
        }
        .action-button {
          color: white;
          background-color: #C9232D;
          width: 4em;
          height: 2em;
          display: inline-block;
          position: relative;
          float: right;
          margin-right: .75em;
          top: .75em;
          border-radius: 5px;
          &:hover {
            background-color: #ad1d26;
            cursor: pointer;
          }
          img {
            display: inline-block;
            vertical-align: middle;
            height: 1.5em;
            position: relative;
            left: 15%;
            top: 15%;
          }
          .action-button-text {
            height: 1.5em;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            left: 20%;
            top: 25%;
          }
        }
        // .userProfileImgWrapper {
        //   // border: 2px solid red;
        //   display: block;
        //   width: 70px;
        //   position: relative;
        //   left: calc(100% - 75px);
        //   top: calc(100% - 75px);
        //   img {
        //     width: 70px;
        //     border-radius: 100%;
        //   }
        //   &:hover {
        //     cursor: pointer;
        //   }
        // }
        .share-button {
          display: inline-block;
          width: 50px;
          img {
            width: 50px;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
      transition: all .3s ease;
      &:hover {
        background-color: #F2F2F2;
        cursor: pointer;
      }
      .wall-img {
        border-radius: 10px;
        height: 92%;
        width: 94%;
        object-fit: cover;
        position: relative;
        margin: 3% 3% 5% 3%;
      }
      // .wall-img.tall {
      //   grid-row: span 2;
      // }
    }
    .img-container.tall {
      grid-row: span 2;
    }
    // .img-container.wide {
    //   grid-column: span 2;
    // }
  }
  .loading-icon-wrapper {
    // border: 2px solid red;
    height: 50px;
    .loading-icon {
      position: relative;
      visibility: hidden;
      width: 50px;
      height: 50px;
      margin: auto;
      // top: calc(50% - 50px / 2);
    }
    .loading-icon.on{
      // border-top: 2px solid $pin-font-gray;
      // border: 2px solid $pin-font-gray;
      position: relative;
      visibility: visible;
      border-radius: 100%;
      animation: spin 1s linear infinite;
      width: 50px;
      height: 50px;
      margin: auto;
      // top: calc(50% - 50px / 2);
      background-color: $pin-medium-gray;
      // transform: rotate(45deg);
      // display: inline;
      svg {
        // border: 1px solid red;
        width: 50px;
        height: 50px;
        circle {
          fill: $pin-light-gray;
          r: 3.5;
        }
      }
    }
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(90deg);
      }
      50% {
        transform: rotate(180deg);
      }
      75% {
        transform: rotate(270deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
