@import '../../../styles-assets/mixins';
@import '../../../styles-assets/variables';
.create-pin-modal-container {
    h2 {
        text-align: center;
        border-bottom: 1px solid $pin-light-gray;
        padding: 1em;
        color: $pin-font-gray;
    }
    border-radius: 5px;
    background-color: white;
    width: 45%;
    min-width: 400px;
    position: relative;
    margin: auto;
    top: calc(50% - (200px + 2em + 2em + 40px + 70px + 2em)/2);
    .drag-target-area-wrapper {
        border-bottom: 1px solid $pin-light-gray;
        padding: 1em;
        .drag-target-area {
            border: 2px dashed #b5b5b5;
            border-radius: 10px;
            display: inline-block;
            width: 100%;
            height: 200px;
            .imgFileInputAreaDefaultImgTxt {
                .img-wrapper, .text-wrapper {
                    position: relative;
                    margin:auto;
                    width: 70%;
                    top: calc(50% - 3em/2);
                }
                .img-wrapper {
                    // border: 1px solid blue;
                    text-align: center;
                    img {
                        width: 2.5em;
                    }
                }
                .text-wrapper {
                    // border: 1px solid purple;
                    text-align: center;
                    color: $pin-font-gray;
                    span {
                        font-weight: 600;
                    }
                }
            }
            .preview-img {
                // width: 100%;
                height: 100%;
                
            }
            input[type='file'] {
                opacity: 0;
            }
        }
    }//END OF .drag-target-area-wrapper
    .input-field-container.tags {
        width: 100%;
        border-bottom: 1px solid $pin-light-gray;
        // border: 2px dotted blue;
        position: relative;
        label {
            position: relative;
            left: .5em;
            top: .2em;
            color: $pin-font-gray;
            font-weight: 600;
        }
        input {
            @include input-pinterest-style(calc(100% - 1em));
            background-color: white;
        }
        input.enough-tags {
            border: 2px solid orange;
        }
        .tags-overlay-container {
            position: absolute;
            // border: 2px solid red;
            top: 0;
            left: 2.6em;
            height: 1.55em;
            overflow: scroll;
            .tag {
                padding: .3em;
                display: inline-block;
                background-color: $pin-light-gray;
                color: $pin-font-gray;
                margin-right: .3em;
                margin-bottom: .2em;
                border-radius: 3px;
                .remove-tag-button {
                    display: inline-block;
                    // transform: rotate(180deg);
                    img {
                        width: 1em;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    .create-pin-from-url-container {
        height: 308px;
        position: relative;
        .input-field.upload-from-url {
            position: relative;
            top: calc(50% - (40px + 1em)/2);
            text-align: center;
            label {
                // position: relative;
                // left: .5em;
                // top: .2em;
                display: block;
                color: $pin-font-gray;
                font-weight: 600;
            }
            input {
                @include input-pinterest-style(calc(50%));
                background-color: white;
                &::placeholder {
                    color: rgba(85,85,85,.5);
                }
            }
        }
    }
    .modal-controls-container {
        height: 70px;
        padding: 1em;
        .all-buttons-container {
            // border: 2px dotted blue;
            height: 46px;
            position: relative;
            top: calc(50% - 46px/2);
            .toggle-buttons-container {
                // border: 2px solid red;
                height: 100%;
                float: left;
                display: inline-block;
                background-color: $pin-light-gray;
                border-radius: 5px;
                // position: relative;
                white-space: nowrap;
                .button {

                    display: inline-block;
                    @include pinterest-gray-button(140px);
                    &:hover {
                        background-color: $pin-light-gray;
                        cursor: pointer;
                    }
                    // margin-right: .35em;
                    color: rgba(85,85,85,.5);
                    position: relative;
                    top: calc(50% - 40px/2);
                    // border: 2px dotted blue;
                }
                .button.upload-from-local {
                    margin-left: .22em;
                }
                .button.upload-from-url {
                    margin-right: .22em;
                }
                .button.clicked {
                    background-color: white;
                    color: $pin-font-gray;
                }
            }
            .button.done {
                display: inline-block;
                float: right;
                @include pinterest-gray-button(70px);
                background-color: $pin-red;
                color: white;
                position: relative;
                top: calc(50% - 40px/2);
                &:hover {
                    background-color: $pin-red-hover;
                }
            }
            .button.done.disabled {
                background-color: rgba(239,239,239,.5);
                color: rgba(85,85,85,.5);
                &:hover {
                    cursor: not-allowed;
                }
                &:active {
                }
            }
        }
    }
}
