@import '../../../styles-assets/mixins';
@import '../../../styles-assets/variables';
.create-pin-modal-container {
    h2 {
        text-align: center;
        border-bottom: 1px solid $pin-light-gray;
        padding: 1em;
        color: $pin-font-gray;
    }
    border-radius: 5px;
    background-color: white;
    width: 45%;
    min-width: 300px;
    position: relative;
    margin: auto;
    top: calc(50% - (200px + 2em + 2em + 40px + 70px + 2em)/2);
    .drag-target-area-wrapper {
        border-bottom: 1px solid $pin-light-gray;
        padding: 1em;
        .drag-target-area {
            border: 2px dashed #b5b5b5;
            border-radius: 10px;
            display: inline-block;
            width: 100%;
            height: 200px;
            .img-wrapper, .text-wrapper {
                position: relative;
                margin:auto;
                width: 70%;
                top: calc(50% - 3em/2);
            }
            .img-wrapper {
                // border: 1px solid blue;
                text-align: center;
                img {
                    width: 2.5em;
                }
            }
            .text-wrapper {
                // border: 1px solid purple;
                text-align: center;
                color: $pin-font-gray;
                span {
                    font-weight: 600;
                }
            }
            input[type='file'] {
                opacity: 0;
            }
        }
    }//END OF .drag-target-area-wrapper
    .input-field-container.tags {
        width: 100%;
        border-bottom: 1px solid $pin-light-gray;
        // display: inline-block;
        label {
            margin-left: .5em;
            color: $pin-font-gray;
            font-weight: 600;
        }
        input {
            @include input-pinterest-style(calc(100% - 1em));
            background-color: white;
        }
    }
    // .input-field-container.old-password {
    //     input.wrong-password {
    //         border: 2px solid orange;
    //     }
    // }
    .button {
        // float: left;
        display: inline-block;
        position: relative;
        top: calc(50% - 40px);
    }
    .modal-controls-container {
        height: 70px;
        padding: 1em;
        .all-buttons-container {
            .toggle-buttons-container {
                // border: 1px solid red;
                float: left;
                display: inline-block;
                background-color: $pin-light-gray;
                border-radius: 5px;
                .button.upload {
                    display: inline-block;
                    @include pinterest-gray-button(140px);
                    margin-right: .35em;
                }
                .button.upload.off {

                }
                .upload.from-local {

                }
                .upload.from-src {

                }
            }
            .button.done {
                display: inline-block;
                float: right;
                @include pinterest-gray-button(70px);
                background-color: $pin-red;
                color: white;
                &:hover {
                    background-color: $pin-red-hover;
                }
            }
            .button.done.disabled {
                background-color: rgba(239,239,239,.5);
                color: rgba(85,85,85,.5);
                &:hover {
                    cursor: not-allowed;
                }
                &:active {
                }
            }
        }
    }
}
