@import '../../styles-assets/mixins';

.header-container.invisible {
  display: none;
}
.header-container {
  position: fixed;
  width: 100%;
  z-index: 3;
  box-shadow: 0 1px 1px #EFEFEF;
  background-color: white;
  .header-menu-item {
    text-decoration: none;
    display: inline-block;
  }
  .header-menu-item.options {
    margin-right: 1em;
  }
  .header-menu-item.right {
    float: right;
  }
  img.logo {
    height: 40px;
    margin: .5em;
  }
  .search {
    @include input-pinterest-style(70%);
    position: absolute;
    margin-top: .85em;
  }
  .home-button-text-wrapper {
    line-height: 40px;
    border-radius: 20px;
    padding: 0 1em;
    @include header-item;
  }
  .username-wrapper {
    line-height: 40px;
    border-radius: 20px;
    padding: 0 1em;
    @include header-item;
  }
  .header-menu-item.options {
    @include header-item;
    width: 40px;
    border-radius: 50%;
    svg {
      height: 40px;
      width: 40px;
      circle {
        cy: 20px;
        r: 2.5px;
        fill: #757575;
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .search {
    width: 60% !important;
    transition: 1s ease;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  .search {
    width: 50% !important;
    transition: 2s ease;
  }
  .header-menu-item.right {
    margin-right: -1em;
  }
}
@media only screen and (max-width: 480px) {
  .search {
    min-width: 100px;
    width: 30% !important;
    transition: 3s ease;
  }
  .header-menu-item.right {
    margin-right: -1em;
  }
}
