@import '../../../styles-assets/mixins';
@import '../../../styles-assets/variables';

.modal-background-overlay {
    position: absolute;
    top: 60px;
    z-index: 3;
    height: calc(100% - 60px);
    width: 100%;
    background-color: rgba(0,0,0,.7);
}
