@import '../../../styles-assets/mixins';
@import '../../../styles-assets/variables';
.password-modal-container {
    h2 {
        text-align: center;
        border-bottom: 1px solid #EFEFEF;
        padding: 1em;
        color: $pin-font-gray;
    }
    border-radius: 5px;
    // border: 3px solid blue;
    background-color: white;
    width: 25%;
    min-width: 300px;
    // height: 400px;
    position: relative;
    margin: auto;
    top: calc(50% - 160px);
    // transform: translateY(-160px);
    .input-field-container {
        border-bottom: 1px solid #EFEFEF;
        padding: 1em;
        .label-wrapper {
            display: inline-block;
            width: 35%;
            height: $input-height;
            vertical-align: top;
            position: relative;
            top: 5px;
            label {
                color: $pin-font-gray;
                font-weight: 600;
            }
        }
        .input-wrapper {
            width: 65%;
            display: inline-block;
            input {
                @include input-pinterest-style;
                width: calc(100% - 1em);
            }
        }
    }
    .input-field-container.old-password {
        input.wrong-password {
            border: 2px solid orange;
        }
    }
    .buttons-container-wrapper {
        height: 70px;
        padding: 1em;
        .buttons-container {
            .button {
                float: right;
                display: inline-block;
                position: relative;
                top: calc(50% - 40px);
            }
            .button.cancel {
                @include pinterest-gray-button(80px);
                margin-right: .35em;
            }
            .button.change-password {
                @include pinterest-gray-button(170px);
                background-color: $pin-red;
                color: white;
                &:hover {
                    background-color: $pin-red-hover;
                }
            }
            .button.change-password.disabled {
                background-color: rgba(239,239,239,.5);
                color: rgba(85,85,85,.5);
                &:hover {
                    cursor: not-allowed;
                }
                &:active {
                }
            }
        }
    }
}
