.settings-page-container {
    padding-top: 2em;
    width: 60%;
    height: 92.5vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, minmax(50px, 1fr));
    grid-template-rows: repeat(10, minmax(40px, 1fr));
   .list-title-wrapper {
       font-size: 2em;
       font-weight: 600;
       color: #555555;
   }
    .settings-list-container {
        grid-area: 1/1/10/3;
        .list-text-wrapper {
            font-size: 1.1em;
            font-weight: 600;
            margin-bottom: .2em;
            a {
                color: #555;
                text-decoration: none;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .settings-form-wrapper {
        grid-area: 1/3/10/-1;
        .list-title-wrapper:not(:first-child) {
            margin-top: 2em;
        }
        .label {
            margin-top: .5em;
            margin-bottom: .1em;
        }
        label {
            display: block;
            color: #555;
        }
        input {
            width: 100%;
            border-radius: 5px;
            height: 40px;
            border: 1px solid #ccc;
            padding-left: 1em;
            outline: none;
            color: #555;
            &:focus {
                border: 5px solid #8BC3FD;
                padding: 12px;
            }
            &::placeholder {
                color: #757575;
                font-weight: 600;
            }
        }
        .account-settings-container {
            .change-password-button {
                border-radius: 5px;
                height: 35px;
                background-color: #EFEFEF;
                width: 35%;
                min-width: 180px;
                text-align: center;
                color: #555555;
                line-height: 35px;
                font-weight: 600;
                &:hover {
                    cursor: pointer;
                    background-color: #E2E2E2;
                }
            }
        }
        .profile-settings-container {
            input[type='file'] {
                opacity: 0;
            }
            .picture-container {
                white-space: nowrap;
                height: 100px;
                width: 100%;
                display: flex;
                flex-direction: row;
                .profile-img-wrapper {
                    flex-grow: 1.4;
                    min-width: 100px;
                    height: inherit;
                    img {
                        width: 100px;
                    }
                }
                .input-field-container.file {
                    flex-grow: 8.6;
                    height: inherit;
                    min-width: 120px;
                    label.change-picture-button {
                        border-radius: 5px;
                        height: 35px;
                        background-color: #EFEFEF;
                        width: 35%;
                        min-width: inherit;
                        text-align: center;
                        vertical-align: bottom;
                        position: relative;
                        top: 50%;
                        transform: translateY(-17.5px);
                        z-index: 2;
                        color: #555555;
                        line-height: 35px;
                        font-weight: 600;
                        &:hover {
                            cursor: pointer;
                            background-color: #E2E2E2;
                        }
                    }
                }
            }
        }
        button.invisible {
            opacity: 0;
            height: 0;
            width: 0;
        }
    }
    .settings-footer {
        grid-area: 10/1/11/-1;
        .settings-footer-button {
            position: relative;
            top: 50%;
            transform: translateY(-20px);
            border-radius: 5px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            display: inline-block;
            vertical-align: top;
            float: right;
        }
        .settings-footer-button.save {
            background-color: rgb(187,15,36);
            color: white;
            width: 15%;
            min-width: 100px;
            &:hover {
                background-color: rgb(171,14,33);
                cursor: pointer;
            }
        }
        .settings-footer-button.cancel {
            background-color: rgb(239,239,239);
            color: #555;
            width: 10%;
            margin-right: .55em;
            &:hover {
                background-color: #E2E2E2;
                cursor: pointer;
            }
        }
    }
}
