@import '../styles-assets/mixins';
@import '../styles-assets/variables';

html {
    overflow: scroll;
}
.settings-page-container {
    padding-top: 2em;
    width: 60%;

    // height: 92.5vh;
    margin: auto;
    position: relative;
    top: 60px;
    // display: grid;
    // grid-template-columns: repeat(10, minmax(50px, 1fr));
    // grid-template-rows: repeat(10, minmax(50px, 1fr));
    // border: 2px solid blue;
    // overflow: scroll;
    // &::-webkit-scrollbar {
    //     width: 0;
    // }
    // -ms-overflow-style: none;
   .list-title-wrapper {
       font-size: 2em;
       font-weight: 600;
       color: $pin-font-gray;
   }
    .settings-list-container {
        // grid-area: 1/1/10/3;
        position: fixed;
        vertical-align: top;
        // border: 1px solid purple;
        width: 12%; // 20/100 === 12/60
        display: inline-block;
        .list-text-wrapper {
            font-size: 1.1em;
            font-weight: 600;
            margin-bottom: .2em;
            a {
                color: $pin-font-gray;
                text-decoration: none;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .settings-form-wrapper {
        // grid-area: 1/3/10/-1;
        margin-left: 20%;
        // border: 1px solid purple;
        display: inline-block;
        width: 80%;
        // overflow: scroll;
        .list-title-wrapper:not(:first-child) {
            margin-top: 2em;
        }
        .label {
            margin-top: .5em;
            margin-bottom: .1em;
        }
        label {
            display: block;
            color: $pin-font-gray;
        }
        input {
            width: 100%;
            border-radius: 5px;
            height: 40px;
            border: 1px solid #ccc;
            padding-left: 1em;
            outline: none;
            color: $pin-font-gray;
            &:focus {
                border: 5px solid #8BC3FD;
                padding: 12px;
            }
            &::placeholder {
                color: #757575;
                font-weight: 600;
            }
        }
        .account-settings-container {
            .change-password-button {
                @include pinterest-gray-button(35%);
                // border-radius: 5px;
                // height: 35px;
                // background-color: #EFEFEF;
                // width: 35%;
                min-width: 180px;
                // text-align: center;
                // color: $pin-font-gray;
                // line-height: 35px;
                // font-weight: 600;
                // &:hover {
                //     cursor: pointer;
                //     background-color: #E2E2E2;
                // }
            }
        }
        .profile-settings-container {
            input[type='file'] {
                opacity: 0;
            }
            .picture-container {
                white-space: nowrap;
                height: 100px;
                width: 100%;
                display: flex;
                flex-direction: row;
                .profile-img-wrapper {
                    flex-grow: 1.4;
                    min-width: 100px;
                    height: inherit;
                    img {
                        width: 100px;
                    }
                }
                .input-field-container.file {
                    flex-grow: 8.6;
                    height: inherit;
                    min-width: 120px;
                    label.change-picture-button {
                        @include pinterest-gray-button(35%);
                        // border-radius: 5px;
                        // height: 35px;
                        // background-color: #EFEFEF;
                        // width: 35%;
                        min-width: inherit;
                        // text-align: center;
                        vertical-align: bottom;
                        position: relative;
                        top: calc(50% - 17.5px);
                        z-index: 2;
                        // color: $pin-font-gray;
                        // line-height: 35px;
                        // font-weight: 600;
                        &:hover {
                            cursor: pointer;
                            background-color: #E2E2E2;
                        }
                    }
                }
            }
        }
        button.invisible {
            opacity: 0;
            height: 0;
            width: 0;
        }
    }
    .settings-footer {
        // grid-area: 10/1/11/-1;
        width: 60%;
        position: fixed;
        bottom: 0;
        // border: 2px solid yellow;
        height: 50px;
        .settings-footer-button {
            position: relative;
            top: calc(50% - 20px);
            // transform: translateY(-20px);
            // border-radius: 5px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            display: inline-block;
            vertical-align: top;
            float: right;
        }
        .settings-footer-button.save {
            @include pinterest-gray-button(15%);
            background-color: rgb(187,15,36);
            color: white;
            min-width: 100px;
            &:hover {
                background-color: rgb(171,14,33);
                cursor: pointer;
            }
        }
        .settings-footer-button.cancel {
            margin-right: .55em;
            @include pinterest-gray-button;
        }
    }
}
