@import '../../styles-assets/mixins';
@import '../../styles-assets/variables';
.auth-page-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr) repeat(3, minmax(100px, 1fr)) repeat(2, minmax(100px, 1fr)) repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    // grid-template-areas:
    //     ". . . . . . . . . . ."
    //     ". . . . f f f . . . ."
    //     ". . . . f f f . . . ."
    //     ". . . . f f f . . . ."
    //     ". . . . f f f . . . ."
    //     ". . . . f f f b b . ."
    //     ". . . . f f f b b . ."
    //     ". . . . . . . . . . .";
    height: 100vh;
    border: 1px solid black;
    .auth-form {
        padding: 1em;
        text-align: center;
        grid-area: 2/5/8/8;
        border: 1px solid #000;
        border-radius: 10px;
        img {
            height: 50px;
        }
        h1 {
            color: #555;
        }
        p {
            color: #ccc;
        }
        .login-error-msg {
          p {
            color: red;
          }
        }
        .input-container {
            display: flex;
            flex-direction: column;
            input {
                flex-grow: 1;
                margin: .5em 2.5em;
                border-radius: 5px;
                height: 40px;
                border: 1px solid #ccc;
                padding-left: 1em;
                outline: none;
                color: #555;
                &:focus {
                    border: 5px solid #8BC3FD;
                    padding: 12px;
                }
                &::placeholder {
                    color: #ccc;
                }
            }
            .password-validation-msgs-container {
              .password-validation-msg-wrapper {
                color: orange;
              }
              .password-validation-msg-wrapper.valid {
                color: green;
              }
            }
            button {
                flex-grow: 1;
                border: none;
                background-color: #D3132A;
                border-radius: 5px;
                margin: .5em 2.5em;
                height: 40px;
                color: white;
                &:focus {
                    outline: none;
                }
                &:hover {
                  cursor: pointer;
                }
            }
            button.disabled {
                background-color: $pin-medium-gray;
                &:hover {
                  cursor: not-allowed;
                }
            }
        }

    }
    .baloon {
        grid-area: 6/8/8/10;
        border-radius: 50% 50% 50% 20px;
        background-color: #D3132A;
        margin-left: 1em;
        p {
            margin: 2em;
            margin-top: 2.35em;
            color: white;
            font-size: 1.5em;
        }
    }
}
